<%@ page import="es.ua.expertojava.todo.Category" %>
<!DOCTYPE html>
<html>
<head>
	<meta name="layout" content="main">
	<g:set var="entityName" value="${message(code: 'category.label', default: 'Category')}" />
	<title><g:message code="default.list.label" args="[entityName]" /></title>
</head>
<body>
<a href="#list-category" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
<div class="nav" role="navigation">
	<ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="list" action="listByCategory">Listar por categorías</g:link></li>
	</ul>
</div>
<div id="list-category" class="content scaffold-list" role="main">
	<h1><g:message code="default.list.label" args="[entityName]" /></h1>
	<g:if test="${flash.message}">
		<div class="message" role="status">${flash.message}</div>
	</g:if>
	<g:form url="[resource:todoInstance, action:'findListByCategory']" >
		<table>
			<thead>
				<tr>
					<g:sortableColumn property="name" title="${message(code: 'category.name.label', default: 'Name')}" />
				</tr>
			</thead>
			<tbody>
			<g:each in="${categoryInstanceList}" status="i" var="categoryInstance">
				<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					<td>
						<g:link action="show" id="${categoryInstance.id}">${fieldValue(bean: categoryInstance, field: "name")}</g:link>
						<g:checkBox name="category" value="${categoryInstance?.id}" />
					</td>
				</tr>
			</g:each>
			</tbody>
		</table>
		<div class="pagination">
			<g:paginate total="${categoryInstanceCount ?: 0}" />
		</div>

		<fieldset class="buttons">
            <g:submitButton name="listar" class="list" action="ListaTareasPorCategorias" value="Filtrar" />
		</fieldset>
	</g:form>
</div>
</body>
</html>